**/.DS_Store

# Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/
vortex_venv/

# Terraform
terraform.tfvars
*.auto.tfvars
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
*.tfplan
crash.log

# IDE
.idea/
.vscode/
*.swp
*.swo
